<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name><%= name %></name>
  <description></description>
  <remoteFS><%= remotefs %></remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.10">
    <host><%= host %></host>
    <port><%= port %></port>
    <credentialsId><%= credentials %></credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label></label>
  <nodeProperties/>
  <userId>anonymous</userId>
</slave>
